node_modules/*
build/*
.vscode/*
*node_modules
*.vscode
/package-lock.json
Algorand-NFT-SDK/javaScript-sdk/package-lock.json
*.reach
.reach/*
.reach
.vscode/
.vscode
error_auction.rsh
temp/
test*.rsh
*.egg-info
dist/*
*.toml
*.cfg
Algorand-NFT-SDK/python-algorand-sdk/build
